.app-header {

    a {
        color: white;
        margin: 20px;
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }
}